<div class="model-pane__single" id="{{id}}">
  <h4 class="model-pane__title">{{identifier}}</h4>
  <ul class="model-pane__properties">
      <li class="model-pane__property">
        <span class="property__name">Nickname </span>
        <span class="property__value">{{identifier}}</span>
      </li>
      <li class="model-pane__property">
        <span class="property__name">Type </span>
        <span class="property__value">{{type}}</span>
      </li>    
      <li class="model-pane__property">
        <span class="property__name">Date Added </span>
        <span class="property__value">{{dateAdded}}</span>
      </li>
  </ul>
</div>